<tr>
  <td>
    <% if (user) { %>
      <% if (item.favorite) { %>
        <a href="<%= `/items/${item.id}/unfavorite` %>">♥</a>
      <% } else { %>
        <a href="<%= `/items/${item.id}/favorite`%>">♡</a>
      <% }%>
    <% } %>
    <%= item.name %>
  </td>
  <td><%= item.description%></td>
  <td>￥<%= item.price %></td>
  <td>
    <form method="post">
      <input type="hidden" name="itemId" value="<%= item.id%>" />
      <label>カート内の数量: <%= cartQuantity || 0 %></label>
      <label for="quantity-<%= item.id %>">カートに入れる数量</label>
      <input min=0 step=1 placeholder=0 id="quantity-<%= item.id %>" type="number" name="quantity" />
      <input type="submit" value="カートに入れる" />
      <% if (item.inventory) {%>
        残り <%= item.inventory %> 個注文可能です
      <% }%>
      <% if (user?.isAdmin) { %>
        <a href="<%= `/items/${item.id}/edit` %>">商品を編集</a>
      <% }%>
    </form>
  </td>
</tr>
