<%- include('layouts/header', {title: '注文する'}) %>
  <header>
    <h2> カートの中の商品 </h2>
  </header>
  <article>

    <% if (!items || items.length === 0) { %>
      <aside>
        <%= "カートが空です" %>
      </aside>
    <% } else { %>
      <table>
        <thead>
          <th>商品名</th>
          <th>数量</th>
          <th>金額（合計）</th>
          <th></th>
        </thead>
        <tbody>
          <% items.forEach(item => { %>
        <%- include('orderItem.ejs', {item}) %>
        <% } ) %>
      </tbody>
    </table>
    <form method="POST">
      <% if (query.missing) { %>
        <sup><%= query.missing %> は必須項目です</sup>
      <% } %>
      <h3>購入する</h3>
      <label for="fullname">お名前（受取時に必要です）</label>
      <input reqyured id="fullname" name="fullname" value="<%= query.fullname ? query.fullname : user?.fullname %>" />
      <label for="tel">電話番号（連絡時に必要です）</label>
      <input required id="tel" type="tel" name="tel" value="<%= query.tel ? query.tel : user?.tel %>"/>
      <label for="orderDate">受け取り日</label>
      <input required id="orderDate" name="orderDate" max="9999-12-31" type="date" value="<%= query.orderDate %>"/>
      <label for="receiveTime">受け取り目安時間</label>
      <input required id="receiveTime" name="receiveTime" type="time" value="<%= query.receiveTime%>"/>
      <input type="submit" value="注文を確定する"/>
    </form>
    <% } /* end of if block */%>

    <a href="/items"">他の商品を追加する</a>
    <%- include('layouts/footer.ejs') %>

  </article>
