<tr>
  <td><%= item.name %></td>
  <td>
    <form class="no-border" method="POST" action="/order/update-item">
      <input type="hidden" name="item_id" value="<%= item.id %>" />
      <input type="number" name="quantity" %> value="<%= item.quantity %>" style="width: 3em" />
      <input type="submit" value="数量を変更"/>
    </form>
  </td>
  <td>￥<%= item.price %>（￥<%= item.price * item.quantity%>）</td>
  <td>
    <form class="no-border" method="POST" action="/order/delete-item">
      <input type="hidden" name="item_id" value="<%= item.id %>" />
      <input type="submit" value="この商品を削除" />
    </form>
  </td>

</tr>
