<%- include('layouts/header', {title: 'ご注文が完了しました'}) %>
  <h2>ご注文が完了しました</h2>
  <h3>注文番号: <%= orderId %></h3>
  <ul>
    <% orderedItems.forEach(orderedItem => { %>
      <li>
        <%= `${orderedItem.name} ${orderedItem.price} *  ${orderedItem.quantity} = ${orderedItem.price * orderedItem.quantity}` %>
      </li>
    <% }) %>
  </ul>
  <span>お支払い予定額: <%= totalPrice %>円</span>
  <span>この画像をレジでお見せ頂き、お会計をお願いします</span>
<%- include('layouts/footer.ejs') %>
